header {
  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 65px 165px;
}

header nav.main-menu {
  display: flex;

  align-items: center;
  justify-content: space-between;

  gap: 30px;
}

header nav.main-menu a {
  text-decoration: none;

  color: var(--secondary-color-space-cadet);
}

header button {
  width: 135px;
  height: 45px;

  border-radius: 50px;

  color: var(--secondary-color-ghost-white);
  background-color: var(--primary-color-deep-lilac);
}

