:root { 
  --white: #FFF;
  --black: #000;

  --primary-color-turquoise: #3CDDF3;
  --primary-color-deep-lilac: #8B48BF;

  --secondary-color-ghost-white: #F9F9F9;
  --secondary-color-space-cadet: #232851;
  --secondary-color-raisin-black: #1E1E26;
  --secondary-color-philip-silver: #B3B2B7;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}