/*
  * Here we are loading the styles of :root and body. 
*/

@import url('presets.css');

/*
  * Here we are loading the stylesheets by HTML element and by screen size..
*/

@import url('./components/button.css');
@import url('./components/mobile-button.css');

/*
  * Here we are loading the stylesheets by HTML component and by screen size.
*/

@import url('./components/header.css');
@import url('./components/mobile-header.css');

@import url('./components/main-hero.css');
@import url('./components/mobile-main-hero.css');

@import url('./components/main-advert.css');
@import url('./components/mobile-main-advert.css');

@import url('./components/main-top-advert.css');
@import url('./components/mobile-main-top-advert.css');

@import url('./components/main-bot-advert.css');
@import url('./components/mobile-main-bot-advert.css');

@import url('./components/main-benefits.css');
@import url('./components/mobile-main-benefits.css');

@import url('./components/main-players.css');
@import url('./components/mobile-main-players.css');

@import url('./components/footer.css');
@import url('./components/mobile-footer.css');

/*
  * Here we define very, VERY specific styles with/without a media rule.
*/

header #icon-drop-menu {
  display: none;
}

@media (max-width: 1230px) {
  header #main-menu {
    display: none;
  }

  header #icon-drop-menu {
    display: block;
  }

  header button {
    display: none;
  }

  section.players #player-card-one, #player-card-three {
    display: none;
  }
}