:root { 
  --white: #FFF;
  --black: #000;

  --primary-color-turquoise: #3CDDF3;
  --primary-color-deep-lilac: #8B48BF;

  --secondary-color-ghost-white: #F9F9F9;
  --secondary-color-space-cadet: #232851;
  --secondary-color-raisin-black: #1E1E26;
  --secondary-color-grey: #B3B2B7;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}

/*
  * Here we define our specific styles by HTML tag.
*/

header {
  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 65px 165px;
}

footer{
  background-color: #1E1E26;
}

a.footer-brand{
  color: white;
}

.menu-footer{
  display: flex;
  height: 141.143px;
  align-items: flex-start;
  gap: 219px;
  flex-shrink: 0;
  justify-content: center;
}

.inside-menu-footer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.inside-menu-footer li a {
  color: #FFF;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.footer-deep{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 247px;
}

.social-media{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 33px;
}

.update-footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  gap: 80px;
}

header nav {
  display: flex;

  align-items: center;
  justify-content: space-between;

  gap: 30px;
}

header nav a {
  color: var(--secondary-color-space-cadet);
  text-decoration: none;
}

header button {
  width: 135px;
  height: 45px;

  border-radius: 50px;

  background-color: var(--primary-color-deep-lilac);
  color: var(--secondary-color-ghost-white);
}

/*
  * Here we define our specific styles by HTML tag with CSS class selector(s).
*/

section.hero {
  display: inline-flex;

  align-items: center;
  
  gap: 100px;

  margin: 95px 180px;
}

section.hero div.main-description {
  display: flex;
  
  flex-direction: column;
  align-items: flex-end; 
  
  gap: 28px;
}

div.main-description h1 {
  color: var(--secondary-color-space-cadet);

  text-align: right;
  line-height: 3.5rem;
  letter-spacing: -1.75px;
  
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}

div.main-description h2 {
  color: var(--black);

  text-align: right;
  line-height: 1.5rem;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

section.advert div {
  width: 450px;
  color: var(--white);
}

section.top-advert {
  padding: 40px 0;

  gap: 100px;
}

div.title-advert p {
  font-size: 35px;
  font-weight: 700;
  
  line-height: 2.5rem;
}

div.description-advert p {
  font-weight: 400;
  line-height: 1.5rem;
}

section.bot-advert {
  padding: 60px 0;

  gap: 538px;
}

section.bot-advert div.title-advert p {
  font-size: 40px;
  font-weight: 700;

  line-height: 3.5rem;
}

.benefits-container {
  background-color: var(--secondary-color-ghost-white);
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  
  align-items: center;
  justify-content: space-around;

  gap: 50px;

  margin: 0 150px;
  padding: 40px 0;
}

.benefit-card {
  width: 550px;

  display: flex;
  align-items: flex-start;

  gap: 25px;
}

article.benefit-card div.index {
  border-radius: 30px;
  background-color: var(--primary-color-deep-lilac);
}

article.benefit-card div.index p {
  padding: 15px 25px;

  color: var(--white);
}

.benefit-card div.description {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.benefit-card div.description h3 {
  margin-top: 15px;

  font-size: 16px;
  font-weight: 700;
  
  letter-spacing: -0.24px;

  color: var(--secondary-color-space-cadet);
}

.benefit-card div.description p {
  line-height: 1.5rem;
  letter-spacing: -0.163px;
  
  color: var(--secondary-color-grey);
}

/*
  * Here we define our shared CSS classes.
*/

.advert {
  display: flex;
  
  align-items: center;
  justify-content: space-evenly;

  background-color: var(--primary-color-deep-lilac);
}

.primary-button {
  width: 135px;
  height: 45px;

  border: none;
  border-radius: 50px;

  cursor: pointer;

  font-family: 'Be Vietnam Pro', sans-serif;

  color: var(--secondary-color-ghost-white);
  background-color: var(--primary-color-deep-lilac);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.primary-button.inverted-colours {
  color: var(--primary-color-deep-lilac);
  background-color: var(--secondary-color-ghost-white);
}

.primary-button.opaque {
  opacity: .70;
}

.primary-button.small {
  width: 60px;
  height: 45px;
}