:root {  
  --primary-color-turquoise: #3CDDF3;
  --primary-color-deep-lilac: #8B48BF;

  --secondary-color-ghost-white: #F9F9F9;
  --secondary-color-space-cadet: #232851;
  --secondary-color-raisin-black: #1E1E26;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}

header {
  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 65px 165px;
}

footer{
  background-color: #1E1E26;
}

a.footer-brand{
  color: white;
}

.menu-footer{
  display: flex;
  width: 100%;
  height: 141.143px;
  align-items: flex-start;
  gap: 219px;
  flex-shrink: 0;
  justify-content: center;
}

.inside-menu-footer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.inside-menu-footer li a {
  color: #FFF;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.footer-deep{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 247px;
}

.social-media{
  display: flex;
  width: 153.894px;
  height: 22.054px;
  align-items: flex-start;
  gap: 13px;
}

.update-footer{
  display: flex;
  width: 272.81px;
  height: 48.518px;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

header nav {
  display: flex;

  align-items: center;
  justify-content: space-between;

  gap: 30px;
}

header nav a {
  color: var(--secondary-color-space-cadet);
  text-decoration: none;
}

header button {
  width: 135px;
  height: 45px;

  border-radius: 50px;

  background-color: var(--primary-color-deep-lilac);
  color: var(--secondary-color-ghost-white);
}

section.hero {
  display: inline-flex;

  align-items: center;
  
  gap: 100px;

  margin: 0 180px;
}

section.hero div.main-description {
  display: flex;
  
  flex-direction: column;
  align-items: flex-end; 
  
  gap: 28px;
}

div.main-description h1 {
  color: var(--secondary-color-space-cadet);

  text-align: right;
  line-height: 3.5rem;
  letter-spacing: -1.75px;
  
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}

div.main-description h2 {
  color: #000;

  text-align: right;
  line-height: 1.5rem;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

/*
  * Here we define our CSS classes.
*/

.primary-button {
  width: 135px;
  height: 45px;

  border: none;
  border-radius: 50px;

  cursor: pointer;

  background-color: var(--primary-color-deep-lilac);
  color: var(--secondary-color-ghost-white);
}